/* Layout for nav */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
} 

.logo {
  font-family: "Bungee", sans-serif;
}

 .tweet-logo {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 600;
}

.sign {
  display: flex;
  align-self: center;
  color: red;

}
